table.tablesorter {
	width: 920px;
	border: 0;
	border-collapse:collapse;
}

table.tablesorter thead tr {
      border: 1px solid #bfbfbf;
}

table.tablesorter thead tr th {
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	height: 35px;
	color: #08C;
}

table.tablesorter tr td {
	padding: 0 10px 0 10px;
	height: 35px;
}

table.tablesorter tbody tr td {
	border: 1px solid #BFBFBF;
}	

table.tablesorter tbody tr.even {
	background-color:  #f0f0f0;
}	

table.tablesorter tbody tr.odd {
	background-color:  #fff;
}	

table.tablesorter tbody tr.highlight {
  background: rgba(210,226,241, 0.5);
}

table.tablesorter thead tr th.header { 
    background: #f0f0f0; 
    cursor: pointer; 
    font-weight: bold; 
    color: #08C;
} 

table.tablesorter thead tr th.headerSortUp { 
    background: #08C;
    color: #fff;
} 

table.tablesorter thead tr th.headerSortDown { 
    background: #08C; 
    color: #fff;
} 

table.tablesorter thead tr th.header:before		{
	font-family: "FontAwesome";
	content: "\f0dc";
	margin-right: 10px;
}

table.tablesorter thead tr th.headerSortUp:before { 
  font-family: "FontAwesome";
  content: "\f0de";
}

table.tablesorter thead tr th.headerSortDown:before { 
  font-family: "FontAwesome";
  content: "\f0dd";
}